#Markdown
#Markdown
##Markdown
###Markdown
####Markdown

# Markdown

## Markdown

### Markdown

#### Markdown

**python**

*python*

## insert image
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2SYQzKh19n2C5VP1AkWYgk17RtmiilqMr_MEBSN9T85k3S77i)

# insert sites
[site](https://login.gitam.edu/Login.aspx)

In [7]:
print("HELLO WORLD!")

HELLO WORLD!

In [10]:
print("HELLO,HYDERABAD")

HELLO,HYDERABAD

# assignment

In [11]:
x = 22
y = 14
print(x,y)

22 14

In [12]:
a = b = c =40
print(a,b,c)

40 40 40

In [13]:
a1,b1,c1 = 100,220,302
print(a1,b1,c1)

100 220 302

# Datatypes And Convertions

# int
# float
# string

# Datatypes and Convertions
-int
-float
-string

In [28]:
x=10
y=12.567
z=3+5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [22]:
x=4
y=10
x<y

True

In [23]:
# string
s1 ="abc"
s2 ="xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [24]:
a=123
print(type(a))

<class 'int'>

In [25]:
a="123"
print(type(a))

<class 'str'>

In [27]:
i=101
print(type(i))
s1=str(i)
print(type(s1))
f=float(i)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

In [29]:
c=complex(3,6)
print(c)

(3+6j)

# Reading a value -- Input function

In [30]:
s=input("enter name:")
print(s)

enter name:akanksha
akanksha

In [35]:
a=input("enter name:")
print(s)
print(type(s))

enter name:akanksha
akanksha
<class 'str'>

In [38]:
a=int(input("enter age:"))
print(a)
print(type(a))

enter age:19
19
<class 'int'>

# Operators

# # operator is a symbol is used to perform a specific kind of operations

# operator is a symbol is used to perform a specific kind of operations

# arithmeic operator
- +
- -
- *
- %
- /
- //
- **

In [39]:
n1=123
print(n1+10)
print(n1-10)
print(n1*10)
print(n1%10)
print(n1/10)
print(n1//10)
print(n1**10)

133
113
1230
3
12.3
12
792594609605189126649

# precedenc of arithmetic operations
- paranthesis
- power
- division
- multiplication
- addition

In [45]:
x=1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [46]:
x=1+2**3/4*5
print(x)

11.0

# relational operators
 - ==,!=,<,>,<=,>=

In [47]:
a=20
a1=a>25
print(a1)

False

# logical operator

In [49]:
x=10
y=30
print(x>=10 and x<=20)
print(x>=10 or x<=20)
print(not x)

True
True
False

# Membership operator

In [51]:
str1 ="abc"
print('a' in str1)
print('d' not in str1)

True
True

# conditional statements

## if-else statements
#### syntax
###### if condition:
> statements<br>
###### else:
> statements

In [56]:
# even or odd
n=int(input("enter a number"))
if n%2==0:
  print("even number")
else:
    print("odd number")

enter a number544
even number

In [58]:
# check given is perfectl multiple of 3 and 5
n=int(input("enter a number"))
if(n%3==0 and n%5==0):
  print("divisible")
else:
    print("not divisible")

enter a number15
divisible

In [3]:
# check give number is leap year or not
n=int(input("enter a year"))
if(n%100!=0 and n%400==0):
    print("leap year")
else:
    print("not a leap year")

enter a year2000
not a leap year

In [ ]:
# check given no. is positive,negative or zero
n=int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
        print("negative")
else:
            print("zero")

enter number12
enter number13
enter number56
56 is large number